{% extends "layout.html" %}

{% block title %}
Submitted!
{% endblock %}

{% block main %}
<label class="d-grid form-label mt-5 mx-auto">Preferences Submitted</label>
<a href="javascript:history.back()" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">
    <div class="icon-text-container center-div">
        <i class="fas fa-user-pen"></i>
        <span>Edit Preferences</span>
    </div>
</a>
<a href="/" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">
    <div class="icon-text-container center-div">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </div>
</a>
{% endblock %}