{% extends "layout.html" %}

{% block title %}
{{sel_trip["name"]}}
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<label class="d-grid form-label mt-3 mx-auto">{{sel_trip["name"]}}</label>
<label class="d-grid form-label mx-auto">Student Preferences:</label>
<form id = "preferences_form" action=/student/{{trip_id}} method="POST">
    <label class="d-grid info-label mt-4 mx-auto">Student</label>

    <select disabled id="pref_0" name="pref_0" class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option selected="selected" value={{student.id}} >{{student.name}}</option>
    </select>

    <label class="d-grid info-label mt-5 mx-auto">Preferences</label>

    {%for _ in range(num_prefs)%}
    <select id={{'pref_' + (loop.index)|string}} name={{'pref_' + (loop.index)|string}} class="mt-3 mx-auto form-select" onchange="updateChoices(this.id); checkform();" aria-label=".form-select-sm example">
        <option selected="selected">Name</option>
        {%for j in range(sel_students|length)%}
            <option value={{sel_students[j].id}}>{{sel_students[j].name}}</option>
        {%endfor%}
    </select>
    {%endfor%}
    <text style="font-size: small;" class="d-grid mx-auto mt-3">NOTE: Preferences are collected in order from top to bottom, allowing you to prioritize your choices accordingly. Choose wisely!</text>
    <button id = "pref_submit" disabled="disabled" type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Submit</button>
    <a href="/student" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">
        <div class="icon-text-container center-div">
            <i class="fas fa-arrow-left"></i>
            <span>Back To Student Dashboard</span>
        </div>
    </a>
</form>

<script>
    let choiceStudents = JSON.parse('{{ sel_students | tojson | safe }}');
    let pref_ids = [];
    for (let i = 1; i <= parseInt(`{{num_prefs}}`); i++) {
        pref_ids.push(`pref_${i}`);
    }
     
    function updateChoices(pref_id) {
        let selected = [];
        
        pref_ids.forEach(id => {
            let options = document.querySelectorAll(`#${id} option`);
            options.forEach(o => {
                if (o.value != "Name") {
                    if(o.selected) {
                        selected.push({id: parseInt(o.value), name: o.innerHTML});
                    } else {
                        o.remove();
                    }
                }
            });
        })
 
        pref_ids.forEach(id => {
            let options = document.querySelectorAll(`#${id} option`);
            let prefElem = document.getElementById(id);
            selected.forEach(s => {
                if (id == pref_id || s.name == options[prefElem.selectedIndex].innerHTML) return;
                let option = new Option(s.name, s.id);
                option.disabled = true;
                document.getElementById(id).add(option, undefined)
            });
            choiceStudents.filter(x => !selected.map(s => s.id).includes(x.id)).forEach(s =>
                document.getElementById(id).add(new Option(s.name, s.id), undefined)
            );
        });
    }

    function checkform() {
        var f = document.forms["preferences_form"].elements;
        var cansubmit = true;

        for (var i = 0; i < f.length; i++) {
            if (f[i].id != "pref_submit" && (f[i].value == "Name")) cansubmit = false;
        }

        document.getElementById('pref_submit').disabled = !cansubmit;
    }

    function autofillPreferences() {
        let preferences = JSON.parse('{{ prefs | tojson | safe }}');
        for (let i = 0; i < preferences.length; i++) {
            let options = document.querySelectorAll(`#${pref_ids[i]} option`);
            options.forEach(o => {
                if (preferences[i] == parseInt(o.value)) {
                    o.selected = true;
                }
            });
            updateChoices(pref_ids[i]);
        }
        checkform();
    }

    document.body.onload = () => {
        if (`{{autofill}}` == "True") {
            autofillPreferences();
        }
    };
</script>
{% endblock %}