{% extends "layout.html" %}

{% block title %}
    {{student.name}}
{% endblock %}

{% block main %}
<label class="d-grid form-label mt-3 mx-auto">Student Information:</label>

<label class="d-grid info-label mt-3 mx-auto">Full Name</label> 
<text class="d-grid mx-auto">{{student.name}}</text>

{% if info.login_email != student.email %}
    <label class="d-grid info-label mt-3 mx-auto">Login Email</label> 
    <text class="d-grid mx-auto">{{info.login_email}}</text>
{% endif %}
<label class="d-grid info-label mt-3 mx-auto">ACS Student Email</label> 
<text class="d-grid mx-auto">{{student.email}}</text>

<label class="d-grid info-label mt-3 mx-auto">Grade</label> 
<text class="d-grid mx-auto">{{student.grade}}</text>

<label class="d-grid info-label mt-3 mx-auto">Gender</label> 
<text class="d-grid mx-auto">{{student.gender}}</text>

<button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#student_edit_information">
    <div class="icon-text-container center-div">
        <i class="fas fa-user-pen"></i>
        <span>Edit Information</span>
    </div>
</button>
<button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#more_info">
    <div class="icon-text-container center-div">
        <i class="fas fa-circle-info"></i>
        <span>Additional Information</span>
    </div>
</button>

<label class="d-grid form-label mt-5 mx-auto">Your Trips:</label>

<table class="table table-10-rows table-sm table-hover mt-3 mx-auto" id="trips_table">
    <thead>
        <tr>
            <th style="width: 100%;" scope="col">Name</th>
            <th class="text-center" scope="col">By</th>
            <th class="text-center" scope="col">Status</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {%for i in range(student_trips|length)%}
        <tr onclick="window.location = '/student/{{student_trips[i].code}}'">
            <td style="width: 100%;">{{student_trips[i].name}}</td>
            <td class="text-center">{{student_trips[i].organizer}}</td>
            <td class="text-center">{{trip_studs[i]|length}}/{{student_trips[i].num_groups * student_trips[i].group_size}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

<button onclick="window.location='/'" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
    <div class="icon-text-container center-div">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </div>
</button>

<div class="modal fade" id="student_edit_information" tabindex="-1" aria-labelledby="student_edit_information_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <label class="d-grid form-label mx-auto">Edit Student Information</label>

                    <label id="name_label" class="d-grid info-label mt-3 mx-auto">Full Name</label>
                    <input type="text" class="mt-2 mx-auto form-control" id="student_name" value="{{student.name}}" placeholder="Full Name" oninput="checkInfo()">

                    <label id="email_label" class="d-grid info-label mt-3 mx-auto">ACS Email</label>
                    <input disabled type="text" class="mt-2 mx-auto form-control" id="student_email" oninput="checkInfo()" value="{{student.email}}">

                    <label id="grade_label" class="d-grid info-label mt-3 mx-auto">Grade</label>
                    <select disabled id="student_grade" class="mt-2 mx-auto form-select" onchange="checkInfo()" aria-label=".form-select-sm">
                        <option disabled selected="selected" selected>Grade</option>
                        {%for grade in range(1, 13)%}
                            <option value={{grade}}>{{grade}}</option>
                        {%endfor%}
                    </select>

                    <label id="gender_label" class="d-grid info-label mt-3 mx-auto">Gender</label>
                    <select id="student_gender" class="mt-2 mx-auto form-select" onchange="checkInfo()" aria-label=".form-select-sm">
                        <option disabled selected="selected" selected>Gender</option>
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="-">-</option>
                    </select>
                    <text class="d-grid mx-auto">* = Unsaved Changes!</text>
                    <button onclick="saveStudentInfo()" class="mt-3 mb-4 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-dismiss="modal" disabled id="save_student_info">
                        <div class="icon-text-container center-div">
                            <i class="fas fa-floppy-disk"></i>
                            <span>Save Changes</span>
                        </div>
                    </button>
                    <button id="pass_reset" class="mt-2 d-grid gap-2 col-6 mx-auto btn btn-primary" onclick="sendPassReset()">
                        <div class="icon-text-container center-div">
                            <i class="fas fa-lock"></i>
                            <span>Change Password</span>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="more_info" tabindex="-1" aria-labelledby="more_info_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
				<label id="user_info_title" class="d-grid form-label mx-auto">Additional Information</label>

				<label class="d-grid info-label mt-3 mx-auto">Name (User)</label>
				<text id="user_info_name" class="d-grid mx-auto">{{info.user_name}}</text>

				<label class="d-grid info-label mt-3 mx-auto">Date Created</label>
				<text id="user_info_date_create" class="d-grid mx-auto">{{info.date_created}}</text>

				<label class="d-grid info-label mt-3 mx-auto">Date Verified</label>
				<text id="user_info_verified" class="d-grid mx-auto">{{info.date_verified}}</text>
			</div>
        </div>
    </div>
</div>

<script>
    let data = {
        cmd: "updateStudent",
        id: parseInt(`{{student.id}}`)
    };
    function saveStudentInfo() {
        $.ajax({
            type: "POST",
            url: "/student",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
            complete: (e) => {
                window.location.reload();
            }
        });
    }

    function sendPassReset() {
        document.getElementById("pass_reset").disabled = true;
        $.ajax({
            type: "POST",
            url: "/student",
            data: JSON.stringify({
                cmd: "changePass",
                id: parseInt(`{{student.id}}`)
            }),
            contentType: "application/json",
            dataType: "json",
            complete: (e) => {
                window.location.href = "/verify";
            }
        });
    }
    
    function checkInfo() {
        let gradeElem = document.getElementById("student_grade");
        let genderElem = document.getElementById("student_gender");
        
        let nameLabel = document.getElementById("name_label");
        let emailLabel = document.getElementById("email_label");
        let gradeLabel = document.getElementById("grade_label");
        let genderLabel = document.getElementById("gender_label");
        
        let currentName = document.getElementById("student_name").value;
        let currentEmail = document.getElementById("student_email").value;
        let currentGrade = gradeElem.options[gradeElem.selectedIndex].value;
        let currentGender = genderElem.options[genderElem.selectedIndex].value;

        let nameChanged = currentName != `{{student.name}}`;
        let emailChanged = currentEmail != `{{student.email}}`;
        let gradeChanged = currentGrade != parseInt(`{{student.grade}}`);
        let genderChanged = currentGender != `{{student.gender}}`;
        
        if (nameChanged) {
            data.name = currentName;
            nameLabel.innerHTML = "*Full Name";
        } else {
            delete data.name;
            nameLabel.innerHTML = "Full Name";
        }
        if (emailChanged) {
            data.email = currentEmail;
            emailLabel.innerHTML = "*ACS Email";
        } else {
            delete data.email;
            emailLabel.innerHTML = "ACS Email";
        }
        if (gradeChanged) {
            data.grade = currentGrade;
            gradeLabel.innerHTML = "*Grade";
        } else {
            delete data.grade;
            gradeLabel.innerHTML = "Grade";
        }
        if (genderChanged) {
            data.gender = currentGender;
            genderLabel.innerHTML = "*Gender";
        } else {
            delete data.gender;
            genderLabel.innerHTML = "Gender";
        }
        document.getElementById('save_student_info').disabled = !(nameChanged || emailChanged || gradeChanged || genderChanged);
    }

    function autofillGradeAndGender() {
        let gradeOptions = document.querySelectorAll(`#student_grade option`);
        gradeOptions.forEach(o => {
            if (`{{student.grade}}` == o.value) {
                o.selected = true;
            }
        });

        let genderOptions = document.querySelectorAll(`#student_gender option`);
        genderOptions.forEach(o => {
            if (`{{student.gender}}` == o.value) {
                o.selected = true;
            }
        });
    }

    document.body.onload = () => {
        autofillGradeAndGender();
    };
</script>
{% endblock %}