{% extends "layout.html" %}

{% block title %}
Teacher
{% endblock %}

{% block main %}
<label class="d-grid form-label mt-3 mx-auto">Teacher Information:</label>

<label class="d-grid info-label mt-3 mx-auto">Photo</label> 
<div class="image-container mx-auto">
    <img src="{{teacher.photoUrl}}" alt="Teacher Photo">
</div>

<label class="d-grid info-label mt-3 mx-auto">Full Name</label> 
<text class="d-grid mx-auto">{{teacher.name}}</text>

{% if info.login_email != teacher.email %}
    <label class="d-grid info-label mt-3 mx-auto">Login Email</label> 
    <text class="d-grid mx-auto">{{info.login_email}}</text>
{% endif %}
<label class="d-grid info-label mt-3 mx-auto">ACS Teacher Email</label> 
<text class="d-grid mx-auto">{{teacher.email}}</text>

<label class="d-grid info-label mt-3 mx-auto">Title</label> 
<text class="d-grid mx-auto">{{teacher.title}}</text>

<button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#teacher_edit_information">
    <div class="icon-text-container center-div">
        <i class="fas fa-user-pen"></i>
        <span>Edit Information</span>
    </div>
</button>

<label class="d-grid info-label mt-5 mx-auto">Your Trips</label>
{% if main_teacher %} 
<input type="text" class="mt-3 mx-auto form-control fontAwesome" id="trip_search" oninput="searchTrips()" placeholder="&#xF002; Search Trips">
{% endif %}
<table class="table table-sm {{'table-users' if main_teacher else ''}} table-hover mt-2 mx-auto" id="trips_table">
    <thead>
        <tr>
            <th style="width: 100%;" scope="col">Trip Name</th>
            {% if not main_teacher %}
                <th class="text-center" tyle="width: 100%;" scope="col">By</th>
            {% endif %}
            <th class="text-center" scope="col">Status</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {%for i in range(all_trips|length)%}
        <tr onclick="window.location = 'teacher/{{all_trips[i].code}}'">
            <td>{{all_trips[i].name}}</td>
            {% if not main_teacher %}
                <td class="text-center">{{all_trips[i].organizer}}</td>
            {% endif %}
            <td class="text-center">{{trip_studs[i]|length}}/{{all_trips[i].num_groups * all_trips[i].group_size}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#trip_create_modal">
    <div class="icon-text-container center-div">
        <i class="fas fa-plus"></i>
        <span>New Trip</span>
    </div>
</button>
<button onclick="window.location='/'" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
    <div class="icon-text-container center-div">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </div>
</button>

<div class="modal fade" id="trip_create_modal" tabindex="-1" aria-labelledby="trip_create_modal_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form name="create_trip_form">
                    <label class="d-grid form-label mx-auto">Create New Trip - Details</label>

                    <label class="d-grid info-label mt-3 mx-auto">Trip Name</label>
                    <input type="text" class="mt-2 mx-auto form-control" id="create_name" placeholder="Name" onKeyup="checkForm()">

                    <label class="d-grid info-label mt-3 mx-auto">Organizer</label>
                    <input type="text" class="mt-2 mx-auto form-control" id="create_organizer" placeholder="Organizer" onKeyup="checkForm()">

                    <label class="d-grid info-label mt-3 mx-auto"># of Groups</label>
                    <input type="number" min="0" class="mt-2 mx-auto form-control"
                        onKeyup="checkForm()" id="create_num_groups" placeholder="# of Groups">

                    <label class="d-grid info-label mt-3 mx-auto">Group Size</label>
                    <input type="number" min="0" oninput="this.value = updateGroupVal(this.value, false)" class="mt-2 mx-auto form-control"
                        onKeyup="checkForm()" id="create_group_size" placeholder="Max Group Size">

                    <label id = "create_students_label" class="d-grid info-label mt-3 mx-auto">Students</label>
                    <input type="text" class="mt-2 mx-auto form-control fontAwesome" id="student_search" oninput="searchStudents()" placeholder="&#xF002; Search Trips">
                    <table class="table table-10-rows table-sm table-hover mt-2 mx-auto" id="students_table">
                        <thead>
                            <tr>
                                <th style="width: 60%;">Name</th>
                                <th data-type="number" class="text-center">Grade</th>
                                <th class="text-center">Gender</th>
                            </tr>
                        </thead>
                        <tbody id = "all_students" class="table-group-divider">
                            {%for s in all_students%}
                            <tr id={{s.id}} onclick="updateRow(this.id)">
                                <td>{{s.name}}</td>
                                <td class="text-center">{{s.grade}}</td>
                                <td class="text-center">{{s.gender}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </form>
            </div>
            <button class="mb-4 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-dismiss="modal" disabled="disabled" id="create_button">Create Trip</button>
        </div>
    </div>
</div>

<div class="modal fade" id="teacher_edit_information" tabindex="-1" aria-labelledby="teacher_edit_information_label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <label class="d-grid form-label mx-auto">Edit Information</label>

                    <label id="name_label" class="d-grid info-label mt-3 mx-auto">Full Name</label>
                    <input type="text" class="mt-2 mx-auto form-control" id="teacher_name" value="{{teacher.name}}" placeholder="Full Name" oninput="checkInfo()">

                    <label id="email_label" class="d-grid info-label mt-3 mx-auto">ACS Email</label>
                    <input type="text" class="mt-2 mx-auto form-control" id="teacher_email" oninput="checkInfo()" value="{{teacher.email}}">

                    <label id="title_label" class="d-grid info-label mt-3 mx-auto">Job Title</label>
                    <input type="text" class="mt-2 mx-auto form-control" id="teacher_title" oninput="checkInfo()" value="{{teacher.title}}">

                    <text class="d-grid mx-auto">* = Unsaved Changes!</text>
                    <button onclick="saveTeacherInfo()" class="mt-3 mb-4 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-dismiss="modal" disabled id="save_teacher_info">
                        <div class="icon-text-container center-div">
                            <i class="fas fa-floppy-disk"></i>
                            <span>Save Changes</span>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="more_info" tabindex="-1" aria-labelledby="more_info_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
				<label id="user_info_title" class="d-grid form-label mx-auto">Additional Information</label>

				<label class="d-grid info-label mt-3 mx-auto">Name (User)</label>
				<text id="user_info_name" class="d-grid mx-auto">{{info.user_name}}</text>

				<label class="d-grid info-label mt-3 mx-auto">Date Created</label>
				<text id="user_info_date_create" class="d-grid mx-auto">{{info.date_created}}</text>

				<label class="d-grid info-label mt-3 mx-auto">Date Verified</label>
				<text id="user_info_verified" class="d-grid mx-auto">{{info.date_verified}}</text>

                <button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" onclick="">
                    <div class="icon-text-container center-div">
                        <i class="fas fa-lock"></i>
                        <span>Change Password</span>
                    </div>
                </button>
			</div>
        </div>
    </div>
</div>

<script>
    let data = {
        cmd: "updateTeacher",
        id: parseInt(`{{teacher.id}}`)
    };
    function saveTeacherInfo() {
        $.ajax({
            type: "POST",
            url: window.location.href,
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json",
            complete: (e) => {
                window.location.reload();
            }
        });
    }
    
    function checkInfo() {
        let nameLabel = document.getElementById("name_label");
        let emailLabel = document.getElementById("email_label");
        let titleLabel = document.getElementById("title_label");
        
        let currentName = document.getElementById("teacher_name").value;
        let currentEmail = document.getElementById("teacher_email").value;
        let currentTitle = document.getElementById("teacher_title").value;

        let nameChanged = currentName != `{{teacher.name}}`;
        let emailChanged = currentEmail != `{{teacher.email}}`;
        let titleChanged = currentTitle != `{{teacher.title}}`;
        
        if (nameChanged) {
            data.name = currentName;
            nameLabel.innerHTML = "*Full Name";
        } else {
            delete data.name;
            nameLabel.innerHTML = "Full Name";
        }
        if (emailChanged) {
            data.email = currentEmail;
            emailLabel.innerHTML = "*ACS Email";
        } else {
            delete data.email;
            emailLabel.innerHTML = "ACS Email";
        }
        if (titleChanged) {
            data.title = currentTitle;
            titleLabel.innerHTML = "*Job Title";
        } else {
            delete data.title;
            titleLabel.innerHTML = "Job Title";
        }
        document.getElementById('save_teacher_info').disabled = !(nameChanged || emailChanged || titleChanged);
    }

    function searchTrips() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("trip_search");
        filter = input.value.toUpperCase();
        table = document.getElementById("trips_table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            let tdName = tr[i].getElementsByTagName("td")[0];
			let tdOrganizer = tr[i].getElementsByTagName("td")[1];
            if (tdName && tdOrganizer) {
                let txtValue = ` ${tdName.textContent || tdName.innerText} ${tdOrganizer.textContent || tdOrganizer.innerText} `;;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function searchStudents() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("student_search");
        filter = input.value.toUpperCase();
        table = document.getElementById("students_table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            let tdID = tr[i].getElementsByTagName("td")[0];
			let tdName = tr[i].getElementsByTagName("td")[1];
            if (tdID && tdName) {
                let txtValue = ` ${tdID.textContent || tdID.innerText} ${tdName.textContent || tdName.innerText} `;;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    window.addEventListener("load", () => {
        document.getElementById("create_button").addEventListener("click", () => {
            $.ajax({
                type: "POST",
                url: window.location.href,
                data: JSON.stringify({
                    cmd: "createTrip",
                    name: document.getElementById("create_name").value,
                    organizer: document.getElementById("create_organizer").value,
                    students: getSelectedStudents().map(x => parseInt(x)),
                    num_groups: document.getElementById("create_num_groups").value,
                    group_size: document.getElementById("create_group_size").value
                }),
                contentType: "application/json",
                dataType: "json",
                complete: (e) => {
                    window.location.reload();
                }
            });
        })

        // TABLE SORTING WITH HEADERS
        const table = document.getElementById('students_table');
        const headers = table.querySelectorAll('th');
        const tableBody = table.querySelector('tbody');
        const rows = tableBody.querySelectorAll('tr');

        const directions = Array.from(headers).map(function (header) {
            return '';
        });

        const transform = function (index, content) {
            const type = headers[index].getAttribute('data-type');
            switch (type) {
                case 'number':
                    return parseFloat(content);
                case 'string':
                default:
                    return content;
            }
        };

        const sortColumn = function (index) {
            const direction = directions[index] || 'asc';
            const multiplier = direction === 'asc' ? 1 : -1;
            const newRows = Array.from(rows);

            newRows.sort(function (rowA, rowB) {
                const cellA = rowA.querySelectorAll('td')[index].innerHTML;
                const cellB = rowB.querySelectorAll('td')[index].innerHTML;
                const a = transform(index, cellA);
                const b = transform(index, cellB);

                switch (true) {
                    case a > b:
                        return 1 * multiplier;
                    case a < b:
                        return -1 * multiplier;
                    case a === b:
                        return 0;
                }
            });

            [].forEach.call(rows, function (row) {
                tableBody.removeChild(row);
            });

            directions[index] = direction === 'asc' ? 'desc' : 'asc';

            newRows.forEach(function (newRow) {
                tableBody.appendChild(newRow);
            });
        };

        [].forEach.call(headers, function (header, index) {
            header.addEventListener('click', function () {
                sortColumn(index);
            });
        });
    })

    function checkForm() {
        var f = document.forms["create_trip_form"].elements;
        var cansubmit = true;

        for (var i = 0; i < f.length; i++) {
            if (f[i].id != "student_search" && f[i].value.length == 0) cansubmit = false;
        }

        document.getElementById('create_button').disabled = !cansubmit;
    }

    function getSelectedStudents() {
        var table = document.getElementById("students_table");
        var tr = table.getElementsByTagName("tr");
        let selected = [];
        for (i = 1; i < tr.length; i++) {
            if (tr[i].className == "selected") {
                selected.push(parseInt(tr[i].id));
            }
        }
        return selected;
    }

    function updateRow(id) {
        var selected = getSelectedStudents();
        if (id != undefined) {
            let rowElem = document.getElementById(id);
            if(rowElem.className == "selected") {
                rowElem.className = ""
            } else {
                rowElem.className = "selected";
            }
        }
        var table = document.getElementById("students_table");
        var rows = table.rows;
        var tr = table.getElementsByTagName("tr");
        for (var i = 1; i < tr.length; i++) {
            if (selected.includes(tr[i].id)) {
                tr[i].className = "selected"
            }
        }

        for (var j = 1; j < tr.length; j++) {
            if (tr[j].className == "selected") {
                parent = rows[j].parentNode;
                parent.insertBefore(rows[j],parent.firstChild);
            }
        }
        updateGroupVal(document.getElementById("create_group_size").value, false)
        document.getElementById("create_students_label").innerHTML = `Students (${getSelectedStudents().length})`;
    }

    function updateGroupVal(val, x) {
        var table = document.getElementById("students_table");
        var tr = table.getElementsByTagName("tr");
        let tripStudents = [];
        for (i = 1; i < tr.length; i++) {
            if (tr[i].className == "selected") {
                let attr = tr[i].getElementsByTagName("td");
                let s = [parseInt(tr[i].id), attr[0].innerHTML, "", attr[1].innerHTML, attr[2].innerHTML]
                tripStudents.push(s);
            }
        }
        var males = tripStudents.filter(s => s[4] == "M");
        var females = tripStudents.filter(s => s[4] == "F");

        val = !!val && Math.abs(val) > 0 ? Math.abs(val) : null
        var groupElem = document.getElementById("create_num_groups");
        var sizeElem = document.getElementById("create_group_size");
        let autoVal = 0;
        if (x) {
            autoVal = null; //DISABLED
        } else {
            autoVal = Math.ceil(males.length / val) + Math.ceil(females.length / val);
        }

        if ((sizeElem.value != 0 && autoVal != 0) || !getSelectedStudents().length) {
            if (x) {
                sizeElem.value = autoVal;
            } else {
                groupElem.value = autoVal;
            }
            return val;
        } else {
            return null;
        }
    }
</script>
{% endblock %}