{% extends "layout.html" %}

{% block title %}
{{sel_trip.name}}
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<label class="d-grid form-label mt-3 mx-auto">Trip Name</label>
<input name="trip_name" id="trip_name" type="text" oninput="syncTripName()" class="mx-auto form-control" value="{{sel_trip.name}}" placeholder="Trip Name">

<label class="d-grid form-label mt-3 mx-auto">Organizer</label>
<input name="trip_organizer" id="trip_organizer" type="text" oninput="syncTripOrganizer()" class="mx-auto form-control" value="{{sel_trip.organizer}}" placeholder="Organizer">

<label class="d-grid form-label mt-3 mx-auto">Groups</label>
<input name="num_groups" id="num_groups" type="number" min="0" onchange="syncGroupVals()" class="mx-auto form-control" value={{sel_trip.num_groups}} placeholder="# of Groups">

<label class="d-grid form-label mt-3 mx-auto">Group Size</label>
<input name="group_size" id="group_size" type="number" min="0" oninput="this.value = updateGroupVal(this.value, false, false);" class="mx-auto form-control" value={{sel_trip.group_size}} placeholder="Max Group Size">

<label class="d-grid form-label mt-4 mx-auto">Students ({{sel_students | length}})</label>
<table class="table table-sm table-hover mt-3 mx-auto">
    <thead>
        <tr>
            <th style="width: 70%;">Name</th>
            <th class="text-center">Grade</th>
            <th class="text-center">Gender</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {%for student in sel_students%}
        <tr class={{'complete' if student_prefs[student.id] else 'incomplete'}}>
            <td>{{student.name}}</td>
            <td class="text-center">{{student.grade}}</td>
            <td class="text-center">{{student.gender}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal"
    onclick="initRows()" data-bs-target="#student_edit_modal">Edit Students</button>
    <button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal"
    id="delete_button" data-bs-target="#trip_delete_modal">Delete Trip</button>
<button type="button" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" onclick="window.location+='/groups'">Manage Groups</button>

<div class="modal fade" id="student_edit_modal" tabindex="-1" aria-labelledby="student_edit_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <label id = "edit_students_label" class="d-grid form-label mx-auto">Edit Students</label>
                <input type="text" class="mt-3 mx-auto form-control" id="search" onkeyup="search()" placeholder="Search">
                <table class="table table-students table-sm table-hover mt-2 mx-auto" id="students_table">
                    <thead>
                        <tr>
                            <th style="width: 70%;">Name</th>
                            <th data-type="number" class="text-center">Grade</th>
                            <th class="text-center">Gender</th>
                        </tr>
                    </thead>
                    <tbody id="all_students" class="table-group-divider table-body">
                        {%for s in all_students%}
                        <tr id={{s.id}}  onclick="updateRow(this.id)">
                            <td>{{s.name}}</td>
                            <td class="text-center">{{s.grade}}</td>
                            <td class="text-center">{{s.gender}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <a id="save_trip" data-bs-dismiss="modal" class="mb-4 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Save</a>
        </div>
    </div>
</div>


<div class="modal fade" id="trip_delete_modal" tabindex="-1" aria-labelledby="trip_delete_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <label class="d-grid form-label mx-auto">Delete Trip - Are You Sure?</label>
            </div>
            <a id="delete_yes" href="/trips" class="mb-4 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Yes</a>
            <button class="mb-4 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-dismiss="modal">No</button>
        </div>
    </div>
</div>

<script>
    function search() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("students_table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    function updateGroupVal(val, x, y) {
        var table = document.getElementById("students_table");
        var tr = table.getElementsByTagName("tr");
        let tripStudents = [];
        if (y) {
            for (i = 1; i < tr.length; i++) {
                if (tr[i].className == "selected") {
                    let attr = tr[i].getElementsByTagName("td");
                    let s = [parseInt(tr[i].id), attr[0].innerHTML, "", attr[1].innerHTML, attr[2].innerHTML]
                    tripStudents.push(s);
                }
            }
        } else {
            tripStudents = JSON.parse('{{ sel_students | tojson | safe }}');
        }
        var males = tripStudents.filter(s => s.gender == "M");
        var females = tripStudents.filter(s => s.gender == "F");

        val = !!val && Math.abs(val) > 0 ? Math.abs(val) : null
        var groupElem = document.getElementById("num_groups");
        var sizeElem = document.getElementById("group_size");
        let autoVal = 0;
        if (x) {
            autoVal = null; //DISABLED
        } else {
            autoVal = Math.ceil(males.length / val) + Math.ceil(females.length / val);
        }
        
        if (sizeElem.value != 0 && groupElem.value != 0 && autoVal != 0) {
            if (x) {
                sizeElem.value = autoVal;
            } else {
                groupElem.value = autoVal;
            }
            syncGroupVals();
            return val;
        } else {
            return null;
        }
    }

    function syncGroupVals() {
        var groupElem = document.getElementById("num_groups");
        var sizeElem = document.getElementById("group_size");
        var data = [
            {
                "id": JSON.parse('{{ trip_id | tojson | safe }}'),
                "groupSize": sizeElem.value,
                "numGroups": groupElem.value,
            }
        ];
        console.log(groupElem.value)
        console.log(sizeElem.value)
        console.log(JSON.parse('{{ sel_trip.num_groups | safe }}'))
        console.log(JSON.parse('{{ sel_trip.group_size | safe }}'))
        if (groupElem.value != JSON.parse('{{ sel_trip.num_groups | safe }}') || sizeElem.value != JSON.parse('{{ sel_trip.group_size | safe }}')) {
            $.ajax({
                type: "POST",
                url: "/update_trip",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json"
            });
        }
    }

    function syncTripName() {
        var nameElem = document.getElementById("trip_name");
        if (nameElem.value == `{{sel_trip.name}}`) return;
        var data = [
            {
                "id": JSON.parse('{{ trip_id | tojson | safe }}'),
                "name": nameElem.value,
            }
        ];
        $.ajax({
            type: "POST",
            url: "/update_trip",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json"
        });
    }

    function syncTripOrganizer() {
        var organizerElem = document.getElementById("trip_organizer");
        if (organizerElem.value == `{{sel_trip.organizer}}`) return;
        var data = [
            {
                "id": JSON.parse('{{ trip_id | tojson | safe }}'),
                "organizer": organizerElem.value,
            }
        ];
        $.ajax({
            type: "POST",
            url: "/update_trip",
            data: JSON.stringify(data),
            contentType: "application/json",
            dataType: "json"
        });
    }

    function initRows() {
        var selected = JSON.parse('{{ sel_students | tojson | safe }}').map(x => x.id)
        var table = document.getElementById("students_table");
        var tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            if (selected.includes(parseInt(tr[i].id))) {
                tr[i].className = "selected";
            }
        }
        updateRow();
    }

    function getSelectedStudents() {
        var table = document.getElementById("students_table");
        var tr = table.getElementsByTagName("tr");
        let selected = [];
        for (i = 1; i < tr.length; i++) {
            if (tr[i].className == "selected") {
                selected.push(parseInt(tr[i].id));
            }
        }
        return selected;
    }

    function updateRow(id) {
        var selected = getSelectedStudents();
        if (id !== undefined) {
            let rowElem = document.getElementById(id);
            if(rowElem.className == "selected") {
                rowElem.className = ""
            } else {
                rowElem.className = "selected";
            }
        }
        var table = document.getElementById("students_table");
        var rows = table.rows;
        var tr = table.getElementsByTagName("tr");
        for (var i = 1; i < tr.length; i++) {
            if (selected.includes(tr[i].id)) {
                tr[i].className = "selected"
            }
        }

        for (var j = 1; j < tr.length; j++) {
            if (tr[j].className == "selected") {
                parent = rows[j].parentNode;
                parent.insertBefore(rows[j],parent.firstChild);
            }
        }
        updateGroupVal(document.getElementById("group_size").value, false, true);
        document.getElementById("edit_students_label").innerHTML = `Edit Students (${getSelectedStudents().length})`;
    }

    window.addEventListener("load", () => {
        document.getElementById("delete_yes").addEventListener("click", () => {
            var data = [
                {
                    "id": JSON.parse('{{ trip_id | tojson | safe }}'),
                }
            ];
            $.ajax({
                type: "POST",
                url: "/delete_trip",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json"
            });
        })

        document.getElementById("save_trip").addEventListener("click", () => {
            var data = [
                {
                    "id": JSON.parse('{{ trip_id | tojson | safe }}'),
                    "students": getSelectedStudents().map(x => parseInt(x))
                }
            ];
            let updatePost = $.ajax({
                type: "POST",
                url: "/update_trip",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json",
                complete: function(response) {
                    window.location = window.location;
                }
            });
        });

        
        // TABLE SORTING WITH HEADERS
        const table = document.getElementById('students_table');
        const headers = table.querySelectorAll('th');
        const tableBody = table.querySelector('tbody');
        const rows = tableBody.querySelectorAll('tr');

        const directions = Array.from(headers).map(function (header) {
            return '';
        });

        const transform = function (index, content) {
            const type = headers[index].getAttribute('data-type');
            switch (type) {
                case 'number':
                    return parseFloat(content);
                case 'string':
                default:
                    return content;
            }
        };

        const sortColumn = function (index) {
            const direction = directions[index] || 'asc';
            const multiplier = direction === 'asc' ? 1 : -1;
            const newRows = Array.from(rows);

            newRows.sort(function (rowA, rowB) {
                const cellA = rowA.querySelectorAll('td')[index].innerHTML;
                const cellB = rowB.querySelectorAll('td')[index].innerHTML;
                const a = transform(index, cellA);
                const b = transform(index, cellB);

                switch (true) {
                    case a > b:
                        return 1 * multiplier;
                    case a < b:
                        return -1 * multiplier;
                    case a === b:
                        return 0;
                }
            });

            [].forEach.call(rows, function (row) {
                tableBody.removeChild(row);
            });

            directions[index] = direction === 'asc' ? 'desc' : 'asc';

            newRows.forEach(function (newRow) {
                tableBody.appendChild(newRow);
            });
        };

        [].forEach.call(headers, function (header, index) {
            header.addEventListener('click', function () {
                sortColumn(index);
            });
        });
    });
</script>
{% endblock %}