:root {
    --default-width: 320px;
    --modal-width: 360px;
    --acs-green: #014C43;
    --acs-green-transparent: #014c4350;
}

.inputs input {
    width: 40px !important;
    height: 40px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.btn-primary {
    width: var(--default-width) !important;
    border-color: var(--acs-green) !important;
    background-color: var(--acs-green) !important;
}

.form-label {
    width: var(--default-width) !important;
}

.form-select {
    width: var(--default-width) !important;
}

.form-control {
    width: var(--default-width) !important;
}

label {
    color: var(--acs-green);
    font-weight: bold;
    font-size: large;
}

.info-label {
    width: var(--default-width) !important;
    margin-left: auto;
    font-size: medium;
}

.label-medium {
    font-size: medium;
}

.label-small {
    font-size: small;
}

text {
    width: var(--default-width) !important;
}

.modal-dialog {
    width: var(--modal-width) !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.modal-header {
    border-bottom: 0 none !important;
}

.selected {
    background-color: var(--acs-green-transparent) !important;
    border-color: var(--acs-green-transparent);
}

.complete {
    background-color: rgba(0, 255, 0, 0.350) !important;
    border-color: rgba(0, 255, 0, 0.350);
}

.incomplete {
    background-color: rgba(255, 0, 0, 0.350) !important;
    border-color: rgba(255, 0, 0, 0.350);
}

.table {
    width: var(--default-width) !important;
    display: block !important;
    max-height: 500px !important;
    overflow: auto !important;
}

.table-10-rows {
    width: var(--default-width) !important;
    display: block !important;
    max-height: 313px !important;
    overflow: auto !important;
}

.table-5-rows {
    width: var(--default-width) !important;
    display: block !important;
    max-height: 175px !important;
    overflow: auto !important;
}

thead {
    top: 0;
    color: var(--acs-green);
    position: sticky;
    background-color: white;
    font-size: 90%;
}

.home-logo {
    width: 150px; 
    display: block; 
    margin: 0 auto;
}

td {
    white-space: nowrap;
    font-size: 80%;
}

.table-users thead {
    font-size: 100%;
}

.table-users td {
    font-size: 90%;
}

.table-border thead th,
.table-border tbody td {
  border: 1px solid black;
  border-collapse: collapse;
}

.icon-text-container {
    display: flex; /* Use flexbox to arrange the icon and text horizontally */
    align-items: center; /* Center the items vertically */
}
  
.icon-text-container i {
    margin-right: 5px; /* Add some spacing between the icon and text */
}

.center-div {
    margin: auto;
}

.flash-card {
    min-width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    max-width: var(--default-width);
    font-size: small;
}

.flash-overlay {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-out {
    animation: fadeOut 5s ease-out forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

#timer {
    font-weight: bold;
}

#countdown {
    color: var(--acs-green); /* Default countdown color */
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

.row-image img {
    max-height: 50%;
    max-width: 50%;
}

.image-container {
    width: var(--default-width);
    align-items: left;
}

.image-container img {
    max-width: 25%;
}
