.inputs input {
    width: 40px !important;
    height: 40px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

.btn-primary {
    width: 320px !important;
    border-color: #014C43 !important;
    background-color: #014C43 !important;
}

.form-label {
    width: 320px !important;
}

.form-select {
    width: 320px !important;
}

.form-control {
    width: 320px !important;
}

label {
    color: #014C43;
    font-weight: bold;
    font-size: large;
}

.info-label {
    width: 320px !important;
    margin-left: auto;
    font-size: medium;
}

text {
    width: 320px !important;
}

.error {
    color: red !important;
}

.modal-dialog {
    width: 360px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.modal-header {
    border-bottom: 0 none !important;
}

.selected {
    background-color: #014c4350 !important;
    border-color: #014c4350;
}

.complete {
    background-color: rgba(0, 255, 0, 0.350) !important;
    border-color: rgba(0, 255, 0, 0.350);
}

.incomplete {
    background-color: rgba(255, 0, 0, 0.350) !important;
    border-color: rgba(255, 0, 0, 0.350);
}

.completed {
    color: #014C43 !important;
    font-weight: bolder;
}

.table {
    width: 320px !important;
    display: block !important;
    max-height: 500px !important;
    overflow: auto !important;
}

.table-10-students {
    width: 320px !important;
    display: block !important;
    max-height: 350px !important;
    overflow: auto !important;
}

.table-5-students {
    width: 320px !important;
    display: block !important;
    max-height: 350px !important;
    overflow: auto !important;
}

thead {
    top: 0;
    color: #014C43;
    position: sticky;
    background-color: white;
}

.home-logo {
    width: 150px; 
    display: block; 
    margin: 0 auto;
}

td {
    white-space: nowrap;
}

.table-border thead th,
.table-border tbody td {
  border: 1px solid black;
  border-collapse: collapse;
}

.red {
    color: red;
}

.green {
    color: green;
}

.icon-text-container {
    display: flex; /* Use flexbox to arrange the icon and text horizontally */
    align-items: center; /* Center the items vertically */
}
  
.icon-text-container i {
    margin-right: 5px; /* Add some spacing between the icon and text */
}

.center-div {
    margin: auto;
}

.error-card {
    margin: auto;
    width: 300px;
    background-color: #f8d7da;
    border: 1px solid #f88f9a;
    color: red;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
    font-size: small;
}