{% extends "layout.html" %}

{% block title %}
	Admin
{% endblock %}

{% block main %}
<label class="d-grid form-label mt-3 mx-auto">Admin Dashboard</label>

<button onclick="window.location='/admin/users'" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
	<div class="icon-text-container center-div">
		<i class="fas fa-person"></i>
		<span>Manage Users</span>
	</div>
</button>

<button onclick="window.location='/admin/teachers'" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
	<div class="icon-text-container center-div">
		<i class="fas fa-person-chalkboard"></i>
		<span>Manage Teachers</span>
	</div>
</button>

<button onclick="window.location='/admin/students'" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
	<div class="icon-text-container center-div">
		<i class="fas fa-graduation-cap"></i>
		<span>Manage Students</span>
	</div>
</button>

<button onclick="window.location='/'" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
	<div class="icon-text-container center-div">
		<i class="fas fa-house"></i>
		<span>Home</span>
	</div>
</button>
{% endblock %}