{% extends "layout.html" %}

{% block title %}
	Admin
{% endblock %}

{% block main %}
<label class="d-grid form-label mt-3 mx-auto">Admin Dashboard</label>
<label class="d-grid info-label mt-3 mx-auto">TrApp Users</label> 
<input type="text" class="mt-3 mx-auto form-control fontAwesome" id="user_search" onkeyup="searchUsers()" placeholder="&#xF002; Search Users">
<table class="table table-5-rows table-sm table-hover mt-3 mx-auto" id="user_table">
    <thead>
        <tr>
			<th class="text-center" scope="col">UID</th>
			<th class="text-center" scope="col">SID</th>
			<th class="text-center" scope="col">
				<i class="fas fa-screwdriver-wrench"></i>
			</th>
			<th class="text-center" scope="col">
				<i class="fas fa-person-chalkboard"></i>
			</th>
			<th class="text-center" scope="col">
				<i class="fas fa-graduation-cap"></i>
			</th>
            <th style="width: 60%;" scope="col">User Name</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {%for i in range(users|length)%}
        <tr onclick="updateInfoPanel(JSON.parse('{{users[i].id}}'))" data-toggle="modal" data-target="#user_info_modal">
			<td class="text-center">{{users[i].id}}</td>
			<td class="text-center">{{"-" if users[i].student_id == None else users[i].student_id}}</td>
			<td class="text-center">
				<i class="fa-solid {{'green fa-check' if users[i].is_admin else 'red fa-x'}}"></i>
			</td>
			<td class="text-center">
				<i class="fa-solid fas {{'green fa-check' if users[i].is_teacher else 'red fa-x'}}"></i>
			</td>
			<td class="text-center">
				<i class="fa-solid fas {{'green fa-check' if users[i].is_student else 'red fa-x'}}"></i>
			</td>
			<td>{{users[i].name}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<text class="d-grid mx-auto">*Click on user for more info</text>
<label class="d-grid info-label mt-5 mx-auto">TrApp Students</label> 
<input type="text" class="mt-3 mx-auto form-control fontAwesome" id="student_search" onkeyup="searchStudents()" placeholder="&#xF002; Search Students">
<table class="table table-5-rows table-sm table-hover mt-2 mx-auto" id="students_table">
	<thead>
		<tr>
			<th class="text-center">ID</th>
			<th style="width: 60%;">Student Name</th>
			<th data-type="number" class="text-center">Grade</th>
			<th class="text-center">Gender</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
		{%for s in students%}
		<tr id={{s.id}}>
			<td class="text-center">{{s.id}}</td>
			<td>{{s.name}}</td>
			<td class="text-center">{{s.grade}}</td>
			<td class="text-center">{{s.gender}}</td>
		</tr>
		{%endfor%}
	</tbody>
</table>

<button onclick="window.location='/'" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
	<div class="icon-text-container center-div">
		<i class="fas fa-house"></i>
		<span>Home</span>
	</div>
</button>
<form action="/logout" method="POST">
	<button type="submit" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
		<div class="icon-text-container center-div">
			<i class="fas fa-sign-out-alt"></i>
			<span>Logout</span>
		</div>
	</button>
</form>

<div class="modal fade" id="user_info_modal" tabindex="-1" aria-labelledby="user_info_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
				<label id="user_info_title" class="d-grid form-label mx-auto">Additional User Details</label>

				<label class="d-grid info-label mt-3 mx-auto">Student Name</label>
				<text id="user_info_name" class="d-grid mx-auto"></text>

				<label class="d-grid info-label mt-3 mx-auto">ACS Email</label>
				<text id="user_info_email" class="d-grid mx-auto"></text>

				<label class="d-grid info-label mt-3 mx-auto">Date Created</label>
				<text id="user_info_date_create" class="d-grid mx-auto"></text>

				<label class="d-grid info-label mt-3 mx-auto">Email Verified</label>
				<text id="user_info_verified" class="d-grid mx-auto"></text>
				
				<label class="d-grid info-label mt-3 mx-auto">Verify Attempts</label>
				<text id="user_info_verify_att" class="d-grid mx-auto"></text>

				<label class="d-grid info-label mt-3 mx-auto">Date Verified</label>
				<text id="user_info_date_verify" class="d-grid mx-auto"></text>
            
				<button onclick="deleteUser()" class="mb-4 d-grid mt-4 col-6 mx-auto btn btn-primary" data-bs-dismiss="modal" id="delete_button">
					<div class="icon-text-container center-div">
						<i class="fas fa-user-slash"></i>
						<span>Delete User</span>
					</div>
				</button>
			</div>
        </div>
    </div>
</div>
<script>
	const users = JSON.parse(`{{users | tojson | safe}}`);
	let u = null;
	function updateInfoPanel(id) {
		u = users[users.map(u => u.id).indexOf(id)];
		document.getElementById("user_info_name").innerHTML = (u.student) ? u.student.name : "N/A";
		document.getElementById("user_info_email").innerHTML = u.email;
		document.getElementById("user_info_date_create").innerHTML = u.date_created;
		document.getElementById("user_info_verified").innerHTML = (u.is_verified) ? "YES" : "NO";
		document.getElementById("user_info_verify_att").innerHTML = u.verify_attempts;
		document.getElementById("user_info_date_verify").innerHTML = (u.date_last_verify) ? u.date_last_verify : "N/A";
	}

	function deleteUser() {
		let updatePost = $.ajax({
			type: "POST",
			url: "/delete_user",
			data: JSON.stringify([{id: u.id}]),
			contentType: "application/json",
			dataType: "json",
			complete: function(response) {
				window.location = window.location;
			}
		});
	}

	function searchStudents() {
        let input = document.getElementById("student_search");
        let filter = input.value.toUpperCase();
        let table = document.getElementById("students_table");
        let tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            let td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                let txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

	function searchUsers() {
		let input = document.getElementById("user_search");
        let filter = input.value.toUpperCase();
        let table = document.getElementById("user_table");
        let tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            let td = tr[i].getElementsByTagName("td")[5];
            if (td) {
                let txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
	}

	$(document).ready(function() {
		$('tr[data-toggle="modal"]').on('click', function() {
			var targetModal = $(this).data('target');
			$(targetModal).modal('show');
		});
    });
</script>
{% endblock %}