{% extends "layout.html" %}

{% block title %}
404
{% endblock %}

{% block main %}
<form action="/" method="POST">
    <label class="d-grid form-label mt-4 mx-auto text-danger">404 - Page Not Found!</label>
    <text class="d-grid mx-auto">Oops! The page you are looking for does not exist.</text>
    <a href="/" class="mt-4 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">
        <div class="icon-text-container center-div">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </div>
    </a>
</form>
{% endblock %}