{% extends "layout.html" %}

{% block title %}
Trip Not Found
{% endblock %}

{% block main %}

<label class="d-grid form-label mt-4 mx-auto error">ERROR - Trip not found!</label>
<text class="d-grid mx-auto">Knock. Knock. Who's there?</text>
<text class="d-grid mx-auto">A trip...that doesn't exist!</text>
<text class="d-grid mx-auto">How did you even get to this page?</text>
<text class="d-grid mx-auto">So many questions...but no answers...</text>
<a href="javascript:history.back()" class="mt-4 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">
    <div class="icon-text-container center-div">
        <i class="fas fa-arrow-left"></i>
        <span>Back</span>
    </div>
</a>
{% endblock %}