{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<img src="{{ url_for('static', filename='img/logo.png') }}" alt="TrApp Logo" class="mt-3 home-logo">
{% if not logged_in %}
    <button onclick="window.location='search'" class="mt-5 d-grid gap-2 col-6 mx-auto btn btn-primary">Find Trip</button>
    <a href="login" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Login</a>
    <a href="register" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Register</a>
{% else %}
    <button disabled="disabled" class="mt-5 d-grid gap-2 col-6 mx-auto btn btn-primary">Find Trip</button>
    {% if is_teacher %}
        <a href="trips" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">View Trips</a>
    {% else %}
        <a href="student" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Student Dashboard</a>
    {% endif %}
    <form action="/logout" method="POST">
        <button type="submit" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">Logout</button>
    </form>
{% endif %}
<a href="" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal" data-bs-target="#credits_modal_modal" role="button">Credits</a>
<label class="d-grid form-label mt-5 mx-auto">This will be gone after we finish :p</label>
<a href="trips" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">View Trips (Teachers Only)</a>

<div class="modal fade" id="credits_modal_modal" tabindex="-1" aria-labelledby="credits_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <label class="d-grid form-label mx-auto">TrApp - Credits</label>
                <p>Hyungjae Kim - Grade 12</p>
                <p>Jeremiah Mathew - Grade 11</p>
                <p>Ryan Ayoub - Grade 11</p>
            </div>
        </div>
    </div>
</div>
<script>
    document.body.onload = () => {
        console.log("HELLO! DOCUMENT BODY LOADED!");
        let loggedIn = `{{logged_in}}` == "True";
        if (loggedIn) {
            console.log("Logged in!");
        }
    };
</script>
{% endblock %}