{% extends "layout.html" %}

{% block title %}
	Start
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/start.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<div class="d-grid gap-2 col-6 mt-5 mx-auto">
    <a href="trip" class="d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Student</a>
    <a href="teacher-login" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Teacher</a>
</div>
{% endblock %}