{% extends "layout.html" %}

{% block title %}
{{sel_trip[1]}}
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form action="/{{trip_id}}" method="POST">
    <label class="d-grid form-label mt-5 mx-auto">Information</label>

    <select id="pref_0" class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option >Name</option>
        {%for i in range(sel_students|length)%}
            <option value={{sel_students[i][0]}}>{{sel_students[i][1]}}</option>
        {%endfor%}
    </select>

    <input type="password" class="mt-3 mx-auto form-control" id="password" placeholder="Password">

    <label class="d-grid form-label mt-5 mx-auto">Preferences</label>

    {%for i in range(num_prefs)%}
    <select id={{'pref_'+ (i+1)|string}} class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option >Name</option>
        {%for j in range(sel_students|length)%}
            <option value={{sel_students[i][0]}}>{{sel_students[j][1]}}</option>
        {%endfor%}
    </select>
    {%endfor%}

    <button type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Continue</button>
</form>
{% endblock %}