{% extends "layout.html" %}

{% block title %}
{{sel_trip["name"]}}
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form id = "preferences_form" action=/{{trip_id}} method="POST">
    <label class="d-grid form-label mt-5 mx-auto">Information</label>

    <select id="pref_0" name="pref_0" class="mt-3 mx-auto form-select" onchange="updateChoices(this.id); checkform();" aria-label=".form-select-sm example">
        <option selected="selected" selected>Name</option>
        {%for i in range(sel_students|length)%}
            <option value={{sel_students[i].id}}>{{sel_students[i].name}}</option>
        {%endfor%}
    </select>

    <input type="password" onkeyup="checkform()" class="mt-3 mx-auto form-control" id="password" placeholder="Password">

    <label class="d-grid form-label mt-5 mx-auto">Preferences</label>

    {%for i in range(num_prefs)%}
    <select id={{'pref_' + (loop.index)|string}} name={{'pref_' + (loop.index)|string}} class="mt-3 mx-auto form-select" onchange="updateChoices(this.id); checkform();" aria-label=".form-select-sm example">
        <option selected="selected">Name</option>
        {%for j in range(sel_students|length)%}
            <option value={{sel_students[j].id}}>{{sel_students[j].name}}</option>
        {%endfor%}
    </select>
    {%endfor%}

    <button id = "pref_submit" disabled="disabled" type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Continue</button>
</form>

<script>
    let isMale = false;

    function updateChoices(id) {
        let ids = [];
        let selected = [];
        let tripStudents = JSON.parse('{{ sel_students | tojson | safe }}');

        for (let i = 0; i <= JSON.parse('{{num_prefs}}'); i++) {
            ids.push(`pref_${i}`);
        }

        if (id == "pref_0") {
            let userId = document.getElementById("pref_0").value;
            if(userId == "Name") {
                disableChoices(true);
                clearChoices();
            } else {
                userId = parseInt(userId);
                if ((tripStudents[tripStudents.map(s => s.id).indexOf(userId)].gender == "M") != isMale) {
                    isMale = tripStudents[tripStudents.map(s => s.id).indexOf(userId)].gender == "M";
                    clearChoices();
                }
                for (let i = 0; i < document.forms["preferences_form"].elements.length; i++) {
                    let pref = document.forms["preferences_form"].elements[i];
                    if(["pref_1", "pref_2", "pref_3", "pref_4", "pref_5"].includes(pref.id)) {
                        if (parseInt(pref.value) == userId) {
                            pref.selectedIndex = 0;
                        }
                    }
                }
                disableChoices(false);
            }
        }

        tripStudents = tripStudents.filter(x => x.gender == ((isMale) ? "M" : "F"));

        ids.forEach(id => {
            let options = document.querySelectorAll(`#${id} option`);
            options.forEach(o => {
                if(o.value != "Name" && o.selected) selected.push(parseInt(o.value));
            });
        });
        ids.splice(ids.indexOf(id), 1);
        ids.splice(ids.indexOf("pref_0"), 1); //Name box will show all names
        ids.forEach(id => {
            let options = document.querySelectorAll(`#${id} option`);
            options.forEach(o => {
                if(o.value != "Name" && !o.selected) o.remove()
            });
            tripStudents.filter(x => !selected.includes(x.id)).forEach(s =>
                document.getElementById(id).add(new Option(s.name, s.id), undefined)
            );
        });
    }

    function disableChoices(disabled) {
        for (let i = 0; i < document.forms["preferences_form"].elements.length; i++) {
            let pref = document.forms["preferences_form"].elements[i];
            if(["pref_1", "pref_2", "pref_3", "pref_4", "pref_5"].includes(pref.id)) {
                if (pref.disabled != disabled) {
                    pref.disabled = disabled;
                }
            }
        }
    }
    
    function clearChoices() {
        for (let i = 0; i < document.forms["preferences_form"].elements.length; i++) {
            let pref = document.forms["preferences_form"].elements[i];
            if(["pref_1", "pref_2", "pref_3", "pref_4", "pref_5"].includes(pref.id)) {
                if (pref.selectedIndex != 0) {
                    pref.selectedIndex = 0;
                }
            }
        }
    }

    function checkform() {
        var f = document.forms["preferences_form"].elements;
        var cansubmit = true;

        for (var i = 0; i < f.length; i++) {
            if (f[i].id != "pref_submit" && (f[i].value == "Name" || f[i].value.length == 0)) cansubmit = false;
        }

        document.getElementById('pref_submit').disabled = !cansubmit;
    }

    document.body.onload = () => {
        if (document.getElementById("pref_0").value == "Name") {
                disableChoices(true);
                clearChoices();
        }
    };
</script>
{% endblock %}