{% extends "layout.html" %}

{% block title %}
{{sel_trip["name"]}}
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form id = "preferences_form" action=/search/{{trip_id}} method="POST">
    <label class="d-grid form-label mt-5 mx-auto">Information</label>

    <select id="pref_0" name="pref_0" class="mt-3 mx-auto form-select" onchange="updateChoices(this.id); checkform();" aria-label=".form-select-sm example">
        <option selected="selected" selected>Name</option>
        {%for i in range(sel_students|length)%}
            <option value={{sel_students[i].id}}>{{sel_students[i].name}}</option>
        {%endfor%}
    </select>

    <input type="password" onkeyup="checkform()" class="mt-3 mx-auto form-control" id="password" placeholder="Password">

    <label class="d-grid form-label mt-5 mx-auto">Preferences</label>

    {%for _ in range(5)%}
    <select id={{'pref_' + (loop.index)|string}} name={{'pref_' + (loop.index)|string}} class="mt-3 mx-auto form-select" onchange="updateChoices(this.id); checkform();" aria-label=".form-select-sm example">
        <option selected="selected">Name</option>
        {%for j in range(sel_students|length)%}
            <option value={{sel_students[j].id}}>{{sel_students[j].name}}</option>
        {%endfor%}
    </select>
    {%endfor%}

    <button id = "pref_submit" disabled="disabled" type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Continue</button>
</form>

<script>
    let isMale = null;

    function updateChoices(pref_id) {
        let pref_ids = [];
        let selected = [];
        let filteredStudents = JSON.parse('{{ sel_students | tojson | safe }}');

        if (pref_id == "pref_0") {
            let userId = document.getElementById("pref_0").value;
            if(userId == "Name") {
                isMale = null;
                if (getPrefs().length < 5) {
                    adjustPrefAmount(5);
                }
                disableChoices(true);
                clearChoices();
            } else {
                userId = parseInt(userId);
                getPrefs().forEach(pref => {
                    if (parseInt(pref.value) == userId) {
                        pref.selectedIndex = 0;
                    }
                })

                if ((filteredStudents[filteredStudents.map(s => s.id).indexOf(userId)].gender == "M") != isMale) {
                    isMale = filteredStudents[filteredStudents.map(s => s.id).indexOf(userId)].gender == "M";
                    adjustPrefAmount(filteredStudents.filter(x => x.gender == ((isMale) ? "M" : "F")).length - 1);
                    clearChoices();
                }
                disableChoices(false);
            }
        }

        filteredStudents = filteredStudents.filter(x => x.gender == ((isMale) ? "M" : "F"));

        for (let i = 0; i <= getPrefs().length; i++) {
            pref_ids.push(`pref_${i}`);
        }

        pref_ids.forEach(id => {
            let options = document.querySelectorAll(`#${id} option`);
            options.forEach(o => {
                if(o.value != "Name" && o.selected) selected.push({id: parseInt(o.value), name: o.innerHTML});
            });
        });
        pref_ids.splice(pref_ids.indexOf("pref_0"), 1); //Name box will show all names
        pref_ids.forEach(id => {
            let prefElem = document.getElementById(id);
            let options = document.querySelectorAll(`#${id} option`);
            options.forEach(o => {
                if(o.value != "Name" && !o.selected) o.remove()
            });
            selected.forEach(s =>   {
                if (id == pref_id || s.name == options[prefElem.selectedIndex].innerHTML) return;
                let option = new Option(s.name, s.id);
                option.disabled = true;
                document.getElementById(id).add(option, undefined)
            });
            filteredStudents.filter(x => !selected.map(s => s.id).includes(x.id)).forEach(s =>
                document.getElementById(id).add(new Option(s.name, s.id), undefined)
            );
        });
    }

    function disableChoices(disabled) {
        getPrefs().forEach(pref => {
            if (pref.disabled != disabled) {
                    pref.disabled = disabled;
            }
        })
    }
    
    function clearChoices() {
        getPrefs().forEach(pref => {
            if (pref.selectedIndex != 0) {
                    pref.selectedIndex = 0;
                }
        })
    }

    function getPrefs() {
        let prefs = [];
        for (let i = 0; i < document.forms["preferences_form"].elements.length; i++) {
            let pref = document.forms["preferences_form"].elements[i];
            if(["pref_1", "pref_2", "pref_3", "pref_4", "pref_5"].includes(pref.id)) {
                prefs.push(pref);
            }
        }
        return prefs;
    }

    function adjustPrefAmount(availableAmt) {
        let prefElems = getPrefs();

        if (availableAmt < prefElems.length) {
            let extraIds = ["pref_1", "pref_2", "pref_3", "pref_4", "pref_5"].splice(availableAmt)
            for (let i = getPrefs().length - 1; i >= 0; i--) {
                let pref = prefElems[i];
                if(extraIds.includes(pref.id)) {
                    pref.remove();
                }
            }
        } else if (availableAmt > prefElems.length) {
            var neededLength = (availableAmt >= 5) ? 5 - prefElems.length : availableAmt - prefElems.length;
            for (let i = prefElems.length + 1; i <= prefElems.length + neededLength; i++) {
                let clonedPrefElem = document.forms["preferences_form"][0].cloneNode(true);
                clonedPrefElem.id = `pref_${i}`;
                clonedPrefElem.name = `pref_${i}`;
                document.getElementById("preferences_form").insertBefore(clonedPrefElem, document.getElementById("pref_submit"));
            }
        }
    }

    function checkform() {
        var f = document.forms["preferences_form"].elements;
        var cansubmit = true;

        for (var i = 0; i < f.length; i++) {
            if (f[i].id != "pref_submit" && (f[i].value == "Name" || f[i].value.length == 0)) cansubmit = false;
        }

        document.getElementById('pref_submit').disabled = !cansubmit;
    }

    document.body.onload = () => {
        if (document.getElementById("pref_0").value == "Name") {
                disableChoices(true);
                clearChoices();
        } else {
            updateChoices("pref_0")
        }
    };
</script>
{% endblock %}