{% extends "layout.html" %}

{% block title %}
Start
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form action="/{{trip_id}}}}" method="POST">
    <label class="d-grid form-label mt-5 mx-auto">Information</label>

    <select class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option selected>Name</option>
        <option value="1">Abby</option>
        <option value="2">Bessie</option>
        <option value="3">Charlie</option>
    </select>

    <input type="password" class="mt-3 mx-auto form-control" id="password" placeholder="Password">

    <label class="d-grid form-label mt-5 mx-auto">Preferences</label>

    <select class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option selected>Name</option>
        <option value="1">Abby</option>
        <option value="2">Bessie</option>
        <option value="3">Charlie</option>
    </select>

    <select class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option selected>Name</option>
        <option value="1">Abby</option>
        <option value="2">Bessie</option>
        <option value="3">Charlie</option>
    </select>

    <select class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option selected>Name</option>
        <option value="1">Abby</option>
        <option value="2">Bessie</option>
        <option value="3">Charlie</option>
    </select>

    <select class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option selected>Name</option>
        <option value="1">Abby</option>
        <option value="2">Bessie</option>
        <option value="3">Charlie</option>
    </select>

    <select class="mt-3 mx-auto form-select" aria-label=".form-select-sm example">
        <option selected>Name</option>
        <option value="1">Abby</option>
        <option value="2">Bessie</option>
        <option value="3">Charlie</option>
    </select>

    <button type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Continue</button>
</form>
{% endblock %}