{% extends "layout.html" %}

{% block title %}
Success
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form action="/trip" method="POST">
    <label class="d-grid form-label mt-5 mx-auto">Succesfully Submitted</label>
    <a href="javascript:history.back()" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Edit</a>
    <a href="/" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Return</a>
</form>
{% endblock %}