{% extends "layout.html" %}

{% block title %}
Teacher Login
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form action="/teacher-login" method="POST">
    <label class="d-grid form-label mt-5 mx-auto">Login</label>

    <input type="text" class="mt-3 mx-auto form-control" id="email" placeholder="Email">

    <input type="password" class="mt-3 mx-auto form-control" id="password" placeholder="Password">

    <button type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Login</button>
</form>
{% endblock %}