{% extends "layout.html" %}

{% block title %}
Start
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/form.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form action="/trip" method="POST">
    <label class="d-grid form-label mt-5 mx-auto">Login</label>

    <input type="text" class="mt-3 mx-auto form-control" id="email" placeholder="Email">

    <input type="password" class="mt-3 mx-auto form-control" id="password" placeholder="Password">

    <button type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Login</button>

    <a href="teacher-signup" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" role="button">Sign Up</a>
</form>
{% endblock %}