{% extends "layout.html" %}

{% block title %}
Find Trip
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<form id = "trip_code_form" action="/search" method="POST">
    <label for="trip_code" class="d-grid form-label mt-5 mx-auto">Find Trip - Enter Trip Code</label>

    <div id="trip_code" class="inputs d-flex flex-row justify-content-center mt-3">
        <input class="me-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id="first" name="first" placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id="second" name="second" placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id="third" name="third" placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id="fourth" name="fourth" placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id="fifth" name="fifth" placeholder="-" maxlength="1" />
        <input class="ms-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id="sixth" name="sixth" placeholder="-" maxlength="1" />
    </div>
    <button id="code_submit" disabled="disabled" type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Continue</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        function OTPInput() {
            const inputs = document.querySelectorAll('#trip_code > *[id]');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function (event) {
                    if (event.key === "Backspace") {
                        if ((i > 0 && i < inputs.length - 1) || (i == inputs.length - 1 && inputs[i].value == '')) 
                            inputs[i - 1].focus();
                        inputs[i].value = '';
                    }
                    else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        }
                        else if (event.keyCode >= 48 && event.keyCode <= 90 && /^[A-Za-z0-9]*$/.test(event.key) && !event.metaKey) {
                            inputs[i].value = event.key.toUpperCase();
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        }
                    }
                }); 
                inputs[i].addEventListener('paste', function (event) {
                    var pastedData = event.clipboardData.getData('text').toUpperCase();
                    var pastedChars = pastedData.split("");
                    for (var j = 0; j < pastedChars.length; j++) {
                        var char = pastedChars[j];
                        if (i + j < inputs.length) {
                            inputs[i + j].focus();
                            inputs[i + j].value = char;
                        }
                        if (i + j + 1 < inputs.length) {
                            inputs[i + j + 1].focus();
                        }
                        if (i + j == inputs.length - 1) {
                            inputs[i + j].blur();
                        }
                        checkform();
                    }
                });
            }
        } OTPInput(); checkform();
    });

    function checkform() {
        var f = document.querySelectorAll('#trip_code > *[id]');
        var cansubmit = true;
        for (var i = 0; i < f.length; i++) {
            if (f[i].id != "code_submit" && f[i].value.length == 0) cansubmit = false;
        }

        document.getElementById('code_submit').disabled = !cansubmit;
    }
</script>
{% endblock %}