{% extends "layout.html" %}

{% block title %}
Success
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
<input type="text" class="mt-5 mx-auto form-control" id="search" onkeyup="myFunction()"
    placeholder="Search">
<table class="table table-sm table-hover mt-3 mx-auto">
    <thead>
        <tr>
            <th style="width: 60%;" scope="col">Name</th>
            <th class="text-center" scope="col">By</th>
            <th class="text-center" scope="col">Status</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {%for t in all_trips%}
        <tr onclick="window.location='trips/{{t[0]}}'">
            <td>{{t[1]}}</td>
            <td class="text-center">HS</td>
            <td class="text-center">16/16</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
<button class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary" data-bs-toggle="modal"
data-bs-target="#student_edit_modal">Create</button>

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("students_table");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}