{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block stylesheets %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
{% if error %}
    <p class="error-card red"><strong>Error:</strong> {{ error | safe}}</p>
{% endif %}
<form id="login_form" action="/login" method="POST">
    <label class="d-grid form-label {{"mt-3" if error else "mt-5"}} mx-auto">Login</label>

    <input type="text" oninput="inputChecker()" class="mt-3 mx-auto form-control" id="email" name="email" placeholder="ACS Email (@acs.sch.ae)">

    <input type="password" oninput="inputChecker()" class="mt-3 mx-auto form-control" id="password" name="password" placeholder="Password">
    
    <button type="submit" disabled id="login_submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Login</button>
</form>
<p style="text-align: center; font-size: small;" class="mt-3 mx-auto">Don't have an account yet? <a href="/signup">Sign up</a>!</p>


<script>
    function checkEmail() {
        const emailFilter = /@acs\.sch\.ae$/;
        let email = document.getElementById("email").value;
        if (!email) return false;
        //if (!emailFilter.test(email)) return false;
        return true;
    }
    
    function checkPassword() {
        let password = document.getElementById("password").value;
        if (!password) return false;
        //if (password.length < 8) return false;  
        return true;
    }
    
    function inputChecker() {
        document.getElementById("email").value = document.getElementById("email").value.replace(" ", "");
        document.getElementById("password").value= document.getElementById("password").value.replace(" ", "");
        let cansubmit = checkEmail() && checkPassword();
        document.getElementById('login_submit').disabled = !cansubmit;
    }
</script>
{% endblock %}