{% extends "layout.html" %}

{% block title %}
Verify Email
{% endblock %}

{% block main %}
{% if error %}
    <p class="error-card red"><strong>Error:</strong> {{ error | safe}}</p>
{% endif %}
<form id = "email_code_form" action="/verify" method="POST">
    <label for="email_code" class="d-grid form-label {{"mt-3" if error else "mt-5"}} mx-auto">User Verification Code</label>
    <text class="d-grid form-label mx-auto">Enter the verification code just sent to {{email}}.</text>
    <p class="form-label mx-auto" id="countdown">Expires in: <span id="timer" class="danger"></span></p>

    <div id="email_code" class="inputs d-flex flex-row justify-content-center mt-3">
        <input class="me-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id=ch_1 name=ch_1 placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id=ch_2 name=ch_2 placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id=ch_3 name=ch_3 placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id=ch_4 name=ch_4 placeholder="-" maxlength="1" />
        <input class="mx-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id=ch_5 name=ch_5 placeholder="-" maxlength="1" />
        <input class="ms-2 text-center form-control rounded" type="text" onKeyup="checkform()" oninput="this.value = (/^[A-Za-z0-9]*$/.test(this.value)) ? this.value.toUpperCase() : null" id=ch_6 name=ch_6 placeholder="-" maxlength="1" />
    </div>
    <button id="code_submit" disabled="disabled" type="submit" class="d-grid gap-2 col-6 mt-5 mx-auto btn btn-primary">Continue</button>
</form>

<button disabled id="reverify_button" onclick="redoVerify()" class="mt-3 d-grid gap-2 col-6 mx-auto btn btn-primary">
	<div class="icon-text-container center-div">
		<i class="fas fa-rotate-right"></i>
		<span>Redo Verification</span>
	</div>
</button>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        function OTPInput() {
            const inputs = document.querySelectorAll('#email_code > *[id]');
            for (let i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keydown', function (event) {
                    if (event.key === "Backspace") {
                        if ((i > 0 && i < inputs.length - 1) || (i == inputs.length - 1 && inputs[i].value == '')) 
                            inputs[i - 1].focus();
                        inputs[i].value = '';
                    }
                    else {
                        if (i === inputs.length - 1 && inputs[i].value !== '') {
                            return true;
                        }
                        else if (event.keyCode >= 48 && event.keyCode <= 90 && /^[A-Za-z0-9]*$/.test(event.key) && !event.metaKey) {
                            inputs[i].value = event.key.toUpperCase();
                            if (i !== inputs.length - 1) inputs[i + 1].focus();
                            event.preventDefault();
                        }
                    }
                }); 
                inputs[i].addEventListener('paste', function (event) {
                    var pastedData = event.clipboardData.getData('text').toUpperCase();
                    var pastedChars = pastedData.split("");
                    for (var j = 0; j < pastedChars.length; j++) {
                        var char = pastedChars[j];
                        if (i + j < inputs.length) {
                            inputs[i + j].focus();
                            inputs[i + j].value = char;
                        }
                        if (i + j + 1 < inputs.length) {
                            inputs[i + j + 1].focus();
                        }
                        if (i + j == inputs.length - 1) {
                            inputs[i + j].blur();
                        }
                        checkform();
                    }
                });
            }
        } OTPInput(); checkform();
        if (`{{code}}` != "None" && `{{code}}`.length == 6) {
            autoFillForm(`{{code}}`)
        }
        startCountdown(JSON.parse(`{{time}}`));
    });

    function checkform() {
        var f = document.querySelectorAll('#email_code > *[id]');
        var cansubmit = true;
        for (var i = 0; i < f.length; i++) {
            if (f[i].id != "code_submit" && f[i].value.length == 0) cansubmit = false;
        }

        document.getElementById('code_submit').disabled = !cansubmit;
    }

    function autoFillForm(code) {
        for (let i = 1; i <= code.length; i++) {
            document.getElementById(`ch_${i}`).value = code[i-1];
        }
        checkform();
    }
    
    function startCountdown(durationInMilliseconds) {
        document.getElementById("countdown").firstChild.textContent = "Expires in: ";
        document.getElementById("reverify_button").disabled = durationInMilliseconds != 0;
        const currentTime = new Date().getTime();
        const expirationTime = currentTime + durationInMilliseconds;

        // Update the countdown every second
        const countdownInterval = setInterval(updateCountdown, 1000);

        function updateCountdown() {
            const currentDate = new Date().getTime();
            const timeDifference = expirationTime - currentDate;

            // Check if the countdown has reached zero
            if (timeDifference <= 0) {
                clearInterval(countdownInterval);
                document.getElementById("countdown").firstChild.textContent = "";
                document.getElementById('timer').innerHTML = 'VERIFICATION CODE EXPIRED';
                document.getElementById('countdown').classList.add('danger');
                document.getElementById("reverify_button").disabled = false;
                return;
            }

            // Calculate the remaining time
            const seconds = Math.floor((timeDifference / 1000) % 60);
            const minutes = Math.floor((timeDifference / 1000 / 60) % 60);

            // Format the countdown string
            const countdownString = padZero(minutes) + ':' + padZero(seconds);

            // Update the color based on the remaining time
            if (timeDifference <= 60000) { // Less than or equal to 1 minute (60,000 milliseconds)
                document.getElementById('countdown').classList.add('danger');
            } else if (timeDifference <= 150000) { // Less than or equal to 2.5 minutes (150,000 milliseconds)
                document.getElementById('countdown').classList.remove('danger');
                document.getElementById('countdown').classList.add('warning');
            }

            // Update the countdown element
            document.getElementById('timer').innerHTML = countdownString;
        }

        function padZero(number) {
            return number.toString().padStart(2, '0');
        }
    }

    function redoVerify() {
        document.getElementById("reverify_button").disabled = true;
		let updatePost = $.ajax({
			type: "POST",
			url: "/redo_verify",
			data: JSON.stringify([{id: parseInt(`{{user_id}}`)}]),
			contentType: "application/json",
			dataType: "json",
			complete: function(response) {
				window.location = window.location;
			}
		});
	}
</script>
{% endblock %}