<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
  <title>TrApp</title>
</head>
<body style="font-family: Arial, sans-serif;">

  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
      <td align="center" style="padding: 40px 0;">
        <h1 style="color: #014C43;">{% block title %}{% endblock %}</h1>
      </td>
    </tr>
    <tr>
      <td align="center">
        {% block body %}{% endblock %}
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px; text-align: center;">
        <hr style="border:none;border-top:1px solid #e0e0e0;width:60%;">
      </td>
    </tr>
    <tr>
      <td align="center" style="padding-top: 20px; text-align: center;">
        <p>If you did not request this, please contact us:</p>
        <p>tsu@acs.sch.ae</p>
      </td>
    </tr>
  </table>

</body>
</html>