{% extends "email/email-layout.html" %}

{% block title %}
	Updated Trip Preferences
{% endblock %}

{% block body %}
	<p>Thank you for updating your preferences for {{trip.name}}.</p>
	<p>Please review your updated preferences below:</p>
    <div style="text-align: left; display: inline-block;">
        {%for i in range(preferences|length)%}
            <p>{{(i + 1) | string}} - {{preferences[i].name}} (Grade {{preferences[i].grade}})</p>
        {%endfor%}
    </div>
    <p>To edit your preferences, click this trip on your student dashboard or <a href="http://127.0.0.1:5000/student/{{trip.code}}">click here</a>.</p>
{% endblock %}